<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <protocolMapping>
            <remove scheme="net.tcp" />
            <add scheme="net.tcp" binding="netTcpBinding" bindingConfiguration="SSLBinding" />
        </protocolMapping>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Server">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <serviceMetadata />
                    <serviceCredentials>
                        <clientCertificate>
                            <authentication certificateValidationMode="PeerTrust" trustedStoreLocation="CurrentUser" />
                        </clientCertificate>
                        <serviceCertificate findValue="FolderBackup" storeLocation="LocalMachine"
                            x509FindType="FindBySubjectName" />
                    </serviceCredentials>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="SSLBinding" transferMode="Buffered">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="Server" name="FolderBackup.Server.Server">
                <endpoint binding="netTcpBinding" bindingConfiguration="SSLBinding"
                    name="BackupService" contract="FolderBackup.CommunicationProtocol.IBackupService">
                    <identity>
                        <certificateReference storeLocation="LocalMachine" x509FindType="FindBySubjectName"
                            findValue="FolderBackup" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
                    name="Metadata" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://beowulf/backup/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>